

html {
  background: url(../Pictures/24357.jpg) no-repeat center fixed;
  background-size: cover;


}
/************************************************/
body {
  margin: 0;
  padding: 0;
}
/************************************************/
nav  {
position: sticky;
top: 0px;
z-index: 100;
}

ul {
  outline:outset 5px orange;
  background: black;
  margin:0;
}

ul li {
  list-style-type: none;
  display: inline-block;
  flex-direction: row;
position: relative;
left: 31%;
background: orange;
border-radius: 5px;
  padding: 0 40px;
}

ul li a {
text-decoration: none;
font-size: 44px;
font-family: sans-serif;
font-weight: 1000;
color: white;
text-shadow: 2px 2px black;
}

ul li a:hover {
color: black;
text-shadow: 0px;
text-decoration: underline;
}
/************************************************/
.grid-container {
margin-top: 100px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  background-color: purple;
  padding: 30px;
outline: outset 5px orange ;
}

.grid-container > div {
  background-color:black;
  border: 10px solid black;
  text-align: center;
  font-size: 30px;
}
h1  {  /* css for all h1*/
  font-family: arial;  /* makes the font arial, assuming every site can have arial i dont have backups yet.*/
  font-size: 36px;
text-align: center;    /* makes the text in the middle of the website so it looks better*/
vertical-align: middle;  /* alights it vertically in the middle.*/
margin: 50px;   /* adds a margin between the pictures and the texts by 100px. Row 14 ends the element with a closing tag. */
color: orange;
text-shadow: 2px 2px black;
font-weight: 600;
}
/************************************************/
h2 { /* css for all h2s on the website */
  text-align: center;
  color: orange;
  text-shadow: 2px 2px black;
  font-weight: 1000;
  vertical-align: middle;
    margin-left: auto;
  font-family: arial;
  font-size: 36px;
}
/************************************************/
p {  /* css for all paragraphs */
  text-align: center;
  vertical-align: middle;
  font-family: Arial;
  font-size: 25px;
  font-weight: 800;
  color: orange;
  text-shadow: 2px 2px black;
}
/************************************************/
