/* Skaffa animation, hover, favicon */

html {
  background: url(Pictures/24357.jpg) no-repeat center fixed;/* background is the picture inside the URL, no repeat means that the picture wont repeat itself if its
  not big enough, center fixed means that the picture will be centered in the middle of the page. */
  background-size: cover; /* makes the whole site covered by my background pic */
}

.Bilder {    /* creates css for the both images i put in a div and uses flex box */
	display: flex;
	flex-direction: row;
	justify-content:space-evenly; /* makes the headers in the flex box even, it fills the gaps.*/
}

img {
  padding: 10px; /* padding on the outline purple border is 10 px */
  border: 100px; /* border 100px */
  background-color: black; /* background color is purple*/
  margin: 50px; /* margin 50px  */
  height: 404px;
  width: 404px;  /* height & width 404px  */
  border-radius: 50% ;/* circle around the pictures which frames it */

}


h1  {  /* css for all h1*/
  font-family: arial;  /* makes the font arial, assuming every site can have arial i dont have backups yet.*/
  font-size: 36px;
text-align: center;    /* makes the text in the middle of the website so it looks better*/
vertical-align: middle;  /* alights it vertically in the middle.*/
margin: 50px;   /* adds a margin between the pictures and the texts by 100px. Row 14 ends the element with a closing tag. */
text-shadow: 2px 2px black; /* shadow on the the h1 texts */
color: white;
}


h2 { /* css for all h2s on the website */
  text-align: center;
  text-shadow: 2px 2px black;
  color: white;
  vertical-align: middle;
    margin-left: auto;
  font-family: arial;
  font-size: 36px;
}

p {  /* css for all paragraphs */
  text-align: center;
  vertical-align: middle;
  font-family: Arial;
  font-size: 25px;
  text-shadow: 2px 2px black;
  color: white;
}

#wikilink { /* # is id css for the link to wiki page of bearded dragons */


  text-align: center;
  color: white;
  text-shadow: 2px 2px black;
  vertical-align: middle;
  font-family: arial;
  font-size: 40px;
position: relative; /* makes the position relative so i can move it around */
left: 1,5%;
}



.box-container{    /* creates a class for flex box for the 2 headers */
  border-radius: 100px;
	display: flex;
	flex-direction: row;
	justify-content:space-evenly; /* makes the headers in the flex box even, it fills the gaps.*/
  outline: outset; /* this makes the outline of the div dotted. */

}

#video {
  position: relative;
left: 35%;
margin-bottom: 100px;
}


footer {  /* i create a footer at the bottom of the page which contains the wiki link for bearded dragons */
  background-color: lightgray;
  text-align: center;
}
