html {
  background: url(Pictures/24357.jpg) no-repeat center fixed;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
}
nav {
width: 100%;
height: 100px;
color: white;
position: fixed;
top: 0;
}


ul {  /* css för Unorderedlist */
margin-left: 34%;
}

ul li {  /* Unorderedlist listitem css */
list-style: none;  /* removes standard bulletpoints that comes with lists */
display: inline-block; /* puts them next to eachother */
line-height: 100px; /* line height to 100px */

}

ul li a { /* Unorderedlist listitem anchor css (the actual text) */
display: block; /* makes the target area for the options bigger. */
text-decoration: none; /* removes the standard underline on the texts on the list */
font-size: 30px;
font-family: sans-serif;
font-weight: 500;
color: white;
padding: 0 20px; /* padding left and right of the different options set to 20 px */
}

ul li a:hover { /* when u hover this, everything from the other ul li a will change to this */
  color: Orange;
  font-size: 40px;
}

.Videos {
display:flex;
flex-direction: row;
justify-content: center;
}

.subvideos {
justify-content: center;
margin-left: 100px;
margin-right: 20px;
}
